// Custom variable overrides go her


#box1{
  border-right: 2px solid grey;
}

.pirate{
max-width: 224px;
max-height: 279.75px;
}
$theme-colors: (
  "primary": grey
);
.footer{
color: white;
background-color: grey;
text-align: center;
}

// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import 'nav';
@import "../../node_modules/bootstrap/scss/bootstrap";

// Import partials here